# Gradle
**/build/
**/.gradle/
**/gradle/wrapper/gradle-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# IDE - VSCode
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Spring Boot
**/application-prod.yml
