server:
  port: 8083

spring:
  application:
    name: card-creator-service

  datasource:
    url: jdbc:postgresql://localhost:5434/cardcreatordb
    driver-class-name: org.postgresql.Driver
    username: creator_user
    password: creator_pass

  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: card-creator-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
      auto-offset-reset: earliest

kafka:
  topics:
    card-created: card.created
    card-validated: card.validated