server:
  port: 8080
  forward-headers-strategy: framework

spring:
  application:
    name: card-service

  datasource:
    url: jdbc:postgresql://localhost:5432/carddb
    driver-class-name: org.postgresql.Driver
    username: card_user
    password: card_pass

  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    org.springframework.cloud.openfeign: INFO
    feign: INFO

feign:
  client:
    config:
      default:
        loggerLevel: basic